<a href="https://colab.research.google.com/github/KushangShah/Exercise/blob/main/kushang_Exercise_of_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Defing and adding two intiger

In [3]:
def add(n1, n2):
  op = n1 + n2
  return op

In [5]:
add(9, 10)

19

In [6]:
def add(n1, n2):
  '''
  this will print the add or sum of two int
  '''
  op = n1 + n2
  return op

In [7]:
add?

In [9]:
add(12, 13)

25

defing and multipyling three int:

In [ ]:
def num_mul(n1, n2, n3):
  mul = n1*n2*n3
  return mul

In [ ]:
num_mul(2, 5, 9)

90

In [ ]:
def div(n1, n2):
  p = n1/n2
  o = n2/n1
  i = n1//n2
  u = n2//n1
  print('n1/n2','=', p)
  print('n2/n1','=', o)
  print('n1//n2','=', i)
  print('n2//n1','=', u)
  return [p, o, i, u]

In [ ]:
div(25, 5)

n1/n2 = 5.0
n2/n1 = 0.2
n1//n2 = 5
n2//n1 = 0

[5.0, 0.2, 5, 0]

# question will print only one output as python taks only one output

In [ ]:
def func_multiple_return(n1, n2):

  return n1+n2     
  return n1*n2
  return n1/n2

  '''
  13 as python interprets line by line so it will take first return statement and return statement ends execution
  '''

In [ ]:
func_multiple_return(10, 3)

13

# Simple addition

In [ ]:
num1 = int(input())
num2 = int(input())
num3 = int(input())
num4 = int(input())

80
30

In [ ]:
sum = num1 + num2 + num3 + num4
sum

214

In [ ]:
sub = num1 - num2 - num3 - num4
sub

50

In [ ]:
mul = num1 * num2 * num3 * num4
mul

16

In [ ]:
div = num1 / num2 / num3 / num4

# code to find data

In [ ]:
# the user want to find data in based of quater(4)

user_date = input()

2023-11-01

In [ ]:
date_year = user_date[:4]
date_month = user_date[5:7]

In [ ]:
# code to find the user data in quater:

if date_month >= 1 and date_month < 4:
  print("Q1")

elif date_month >= 4 and date_month < 7:
  print("Q2")

elif date_month >= 7 and date_month < 10:
  print("Q3")

else:
  print("Q4")

In [ ]:
class animal:
  p = 99
  pass

In [ ]:
x = animal()
print(type(x))

<class '__main__.animal'>

In [ ]:
x.p

99

In [ ]:
list1 = list()
print(type(list1))

<class 'list'>

In [ ]:
class drinks:
  state="cold"
  tast="sweet"

In [ ]:
mazza = drinks
pepsi = drinks

In [ ]:
type(mazza)

type

In [ ]:
mazza.state

'cold'

In [ ]:
class car:
  window = "4"
  tyer ="4"

In [ ]:
car1 = car
type(car1)

type

In [ ]:
car1.window, car1.tyer, car1.tast

In [ ]:
class cat:
  def __init__(self, name, colour):
    self.name = name
    self.colour= colour1

In [ ]:
x = cat(name="tom", colour='black')
print(x.name)
print(x.colour)

tom
black

In [ ]:
type(x)

__main__.cat

In [ ]:
heights =  [172,175,170,168,170,200]

In [ ]:
x = sorted(heights)
print(x)

[168, 170, 170, 172, 175, 200]

In [ ]:
x = sum(heights)
x

1055

# Give a lisy of n list, write a function // Given a list of n lists, write a function which returns the intersection of all the n lists. Each list can have any number of elements.

In [ ]:
input = [[5, 5, 5, 8, 10],
      [5, 5, 7, 8],
      [5, 5, 5, 8, 11],
      [4, 5, 5, 4, 4, 1]]

In [ ]:
output = [5, 6, 9, 5]

In [ ]:
num_list = [[5, 5, 5, 8, 10],
      [5, 5, 7, 8],
      [5, 5, 5, 8, 11]]

In [ ]:
l1 = num_list[0]
l2 = num_list[1]

In [ ]:
for i in l1:
  if i in l2:
    print(i)

5
5
5
8

In [ ]:
input = [[5, 5, 5, 8, 10],
      [5, 7, 8],
      [5, 5, 5, 8, 11],
      [4, 5, 5, 4, 4, 1]]

In [ ]:
l3 = input[0]
l4 = input[1]

In [ ]:
for i in l3:
  if i in l4:
    print(i)

5
5
5
8

In [ ]:
l2_copy = l2.copy

In [ ]:
for i in l1:
  if i in l2:
    print(i)
    l2_copy = l2.remove(i)

5
5
8

In [ ]:
input1 = [[5, 5, 5, 8, 10],
          [5, 7, 8],
          [5, 5, 8, 9, 11]]

In [ ]:
l1 = input1[0]
l2 = input1[1]
l2_copy = l2.copy()

common_list = []
for i in l1:
  if i in l2_copy:
    l2_copy.remove(i)
    common_list.append(i)

print(common_list)

[5, 8]

In [ ]:
l1 = input1[0]
l2 = input1[1]
print(12)

common_list = []
for i in l1:
  if i in l2:
    l2.remove(i)
    common_list.append(i)

print(common_list)

12
[5, 8]

In [ ]:
def get_common_element(l1, l2):
    l2_copy = l2.copy()

    common_list = []
    for i in l1:
      if i in l2_copy:
        l2_copy.remove(i)
        common_list.append(i)

    return common_list

In [ ]:
input2 = [[5, 5, 5, 8, 10],
          [5, 9, 5, 7, 8],
          [5, 5, 8, 9, 11]]

In [ ]:
list1 = input2[0]
list2 = input2[1]

get_common_element(list1, list2)

[5, 5, 8]

In [ ]:
input3 = [[5, 5, 5, 8, 10],
          [5, 7, 8],
          [5, 5, 8, 9, 11]]

In [ ]:
list1 = input3[0]
list2 = input3[1]

c_list = get_common_element(list1, list2)

for list_ in input2[2:]:
  print(list_)

[5, 5, 8, 9, 11]

In [ ]:
c_list

[5, 8]

dict

In [ ]:
info = {
    'name': 'Kushang',
    'age': 21,
    'skill': 'Bhootiya'
}

In [ ]:
info['skill']

'Bhootiya'

In [ ]:
type(info)

dict

In [ ]:
len(info)

3

In [ ]:
max(info)

'skill'

In [ ]:
info['name']

'Kushang'

In [ ]:
tuple(info.keys())

('name', 'age', 'skill')

In [ ]:
list(info.keys())

['name', 'age', 'skill']

# While loops:-

In [ ]:
# while loop function

a = 0

while a < 10:
  print('printing', a)
  a = a + 1

printing 0
printing 1
printing 2
printing 3
printing 4
printing 5
printing 6
printing 7
printing 8
printing 9

In [ ]:
a = 0

while a < 10:
  print(a)

  a = a+1
  # . . .

  if a == 5:
    print('a == 5')
    break

  else:
    print('continuing...')
    continue

0
continuing...
1
continuing...
2
continuing...
3
continuing...
4
a == 5